* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* COMMON */
img{
    width: 100%;
}
body{
    font-family: montserrat;
}
.container{
    width: 70%;
    margin: auto;
    padding: 0px 100px;
}

/* HEADER */

.logo{
    display: inline-block;
    border-right: 1px solid lightgrey;
    padding-right: 20px;
}
.logo img{
    height: 65px;
    width: auto;
}
.banner{
    position: relative;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner-text {
    color: white;
    position: absolute;
    bottom: 80px;
    left: 50px;
    width: 50%;
}
.overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.banner img{
    height: 100%;
    object-fit: cover;
}

/* MENU */

nav{
    margin: 20px 0px;
}
.menu{
    list-style-type: none;
}
.menu li{
    display: inline-block;
    padding-right: 10px;
}
.menu a {
    text-decoration: none;
    color: #acacac;
    font-size: 15px;
    text-transform: uppercase;

}

/* MAIN*/

.claerfix::after{
    content: "";
    display: table;
    clear: both;
}
.content{
    width: 50%;
    background-color: #abcfe7;
    height: 270px;
    margin-left: 2%;
    margin-right: 2%;
}
.col{
    float: left;
    position: relative;
}
aside{
    width: 23%;
}
.widgets{
    position: relative;
    height: 170px;
    background-repeat: no-repeat;
    background-image: url(../img/img-3.jpg);
    background-position: center;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}
.widgets-text{
    font-size: 14px;
}
.links{
    position: relative;
    height: 170px;
    background-repeat: no-repeat;
    background-image: url(../img/img-1.jpg);
    background-position: center;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}
.links-text{
    font-size: 14px;
}
.capitolo{
    position: relative;
}
.secondo-container{
    background-color: #0186fd;
    width: 100%;
    height: 370px;
}
.barra{
    width: 100%;
    height: 60px;
    background-color: #abcfe7;
    position: relative;
    margin-bottom: 15px;
}
.title-cap{
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    left: 0px;
}
.subtitle{
    position: relative;
    top: 40px;
}

/* FOOTER */

footer{
    background-color: #8801fe;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 20px;
}